@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body,
html {
    background-color: #f8f8f8;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans';
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    color: #2a2a2a;
    margin-bottom: 0;
}

p {
    color: #8a8a8a;
    margin-bottom: 0;
}

a {
    color: #424242;
}